.scrolling-wrapper {
  width: 100%;
  overflow: hidden;
  background: var(--backgound-color);
  color: var(--dark-color);
  padding: 0.6rem 0;
  position: relative;
  box-shadow: 10px;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 100%;
  animation: scroll-left 30s linear infinite;
}

/* Pause on hover */
.scrolling-wrapper:hover .scrolling-text {
  animation-play-state: paused;
}

/* Animation keyframes */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}